.background {
	background-repeat: no-repeat;
	background-image: url(FLUIGADHOC2.png);
}

.dateHeight{
	height: 42px;
}

.nomeativ{
	width: 257px !important;
}
.dtprazoativ{
	width: 152px !important;
}
.hdnrespativ{
	width: 180px !important;
}
.imgresp{
	cursor: pointer; 
	line-height: 20px; 
	vertical-align: middle;
}
.zoomResponsible {
	background-image:url(/portal/resources/images/sprite_system_nav.png);
	background-position:0px 130px;
	text-decoration:none;
	float:left;
	margin:10px 7px;
	width:18px;
	height:18px;
}
.addactivity{
/*	padding: 10px; 
	border: none; 
	background-color: #A7CE3A; 
	color: #fff; 
	cursor: pointer; 
	font-size: 12px;*/
}
.tbatividades{
	display: none;
}
#printBt, #printBtView { display:none; }

